.container {
    min-height: 100vh;
    display: flex;
}

.con-menu {
    width: 40vw;
    padding-top: 120px;
    padding-left: 20px;
}

.con-order {
    width: 60vw;
    padding-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: rgb(253, 253, 253);
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.menu .order-btn {
    height: 40px;
    width: 100%;
    font-size: 20px;
    background-color: #ffc800;
    border-radius: 20px;
}

.menu-card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.875);
    border-radius: 12px;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2);

}

.menu-img {
    height: 200px;
    width: 200px;

}

.menu-text {
    display: inline;
    text-align: center;
    align-items: center;
}

.menu-text input {
    height: 50px;
    width: 20%;
    outline: none;
    font-size: 25px;
    border-radius: 40px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}

table, th, td {
    border-bottom: 1px solid #000000;
    border-collapse: collapse;
    font-size: 20px;
    /* border-radius: 10px; */
    text-align: center;
    justify-content: center;
    
  }

  th {
    width: 200px;
    background-color:#ffc800;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  tr:hover {background-color:#ffefb4;}
  