.container{
    background-color: #FBB138;
    width: 400px;
    padding: 25px 30px 30px 30px;
    justify-content: center;
    align-items: center;
}
.input{
    justify-content: center;
    align-items: center;
    position: relative;
}