body {
    background-color: #FFF9C4;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 250px;
    height: 300px;
    background-color:#483114;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    margin: 0px;
    font-size: 24px;
    color: #f3f3f3;
}
p {
    margin: 0px;
    font-size: 16px;
    color: #e48900;
}
a {
    text-decoration: none;
}

.container .card img{
    border-radius: 24px;
    border: 4px solid #ffac3e;
    
}