
.cards {
    padding: 40px;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center; 
}

.card {
    border-radius: 24px;
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
} 
.card img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    max-width: 100%;
    }
.card .text {
    padding: 0 20px 20px;
    text-align: center;
}
.card .text h3{
    margin: 8px 0;
}
.card .text > button {
    background: #FBB138;
    border: 0;
    border-radius: 24px;
    color: white;
    padding: 8px 4px;
    width: 100%;
    margin: 8px 0;
    display: block;
    }
.card p{
    font-size: 12px;
    margin: 8px 0;
}