@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

h1, h2, h3{
  color: #272727;
}
.title {
  padding: 40px;
  text-align: center;
  font-weight: 600;
  color: #272727;
  font-size: 40px;
  text-shadow:

              0 0 15px rgba(0,0,0,0.1);
  border-radius: 50%;
}

h1 span{
  color: #FBB138;
}
